body {
    font-family: Gilroy;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: none;
}

.primary__header {
    width: 100%;
    height: 128px;
    background: rgb(27, 26, 26);

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 128px;

        &__menu {
            min-width: 445px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__socials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &>li>img {
                width: 32px;
                height: 32px;
                border-radius: 16px;
                padding: 9px;
                background: linear-gradient(-49.76deg, rgba(83, 95, 230, 0.84) 30%, rgba(32, 193, 207, 0.57) 90.248%);
            }
        }

        &__language {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &>img {
                padding: 7px;
                border-radius: 25px;
                background: rgb(35, 37, 47);
            }
        }

        &__dashboard {
            margin: 28px -50px 0 0;
        }

        &>div>button {
            border: 1px solid rgb(255, 255, 255);
            padding: 12px 24px;
            border-radius: 16px;
            background: transparent;
            color: rgb(255, 255, 255);
            font-family: Gilroy;
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
        }
    }
}

.secondary__header {
    width: 100%;
    height: 100px;
    background: linear-gradient(-49.76deg, rgba(83, 95, 230, 0.84) 29.457%,rgba(32, 193, 207, 0.57) 93.71%);
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 1052px;
            height: 100px;
            &__special {
                padding: 12px 16px;
                border-radius: 20px;
                background: rgb(35, 37, 47);
            }
            &>li>img {
                width: 18px;
                height: 18px;
                margin-right: 13px;
            }
        }
        &__white-box {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 16px;
            border-radius: 20px;
            background: rgb(255, 255, 255);
            color: rgb(83, 95, 230);
        }
    }
}

.main {
    width: 100%;
    height: 1052px;
    background: rgb(27, 26, 26);
    &__flex {
        display: flex;
        gap: 77px;
    }
    &__column {
        position: relative;
        display: flex;
        flex-direction: column;
        &>h1 {
            color: rgb(255, 255, 255);
            font-size: 40px;
            font-weight: 400;
            line-height: 0px;
            letter-spacing: 0px;
        }
    }
}

.footer {
    width: 100%;
    height: 387px;
    background: rgb(35, 37, 47);
    overflow: hidden;
    &__partners {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
        height: 32px;
        margin: 58px 0 79px 0;
    }
    &__flex {
        margin-bottom: 44px;
        display: flex;
        justify-content: space-between;
        color: rgb(94, 100, 122);
        font-family: Gilroy;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        &__column {
            display: flex;
            flex-direction: column;
            &>p {
                margin-top: 17px;
                width: 290px;
                text-align: left;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0px;
            }
        }
        &__grid {
            display: grid;
            grid-template-columns: 150px 24px;
            grid-template-rows: auto;
            &>p {
                margin: 0;
                color: rgb(83, 95, 230);
            }
            &__special {
                margin-left: 13px;
            }
        }
        &__lists {
            display: flex;
            align-items: center;
            gap: 83px;
            &>ul {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }
        &>img {
            width: 196px;
            height: 50px;
        }
    }

    &__post-scriptum {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(255, 255, 255);
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        &__block {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}